/* *{
    font-family: "Noto Sans Georgian", serif !important;
} */

.header {
  background-color: white;
  border: 1px whitesmoke solid;
  justify-content: space-between;
  padding: 10px;
}
.Articles a {
  padding: 10px;
  color: black !important;
  font-weight: bold;
  text-decoration: none;
}
.Articles a:hover {
  cursor: pointer;
  text-decoration: underline;
}
.Language i {
  color: black !important ;
}
.Language input {
  width: 0;
  outline: none;
  border: none;
  font-weight: 500;
  transition: 0.8s;
  background: transparent;
  border-radius: 10px;
}
.Language:hover input {
  width: 300px;
  border: solid 1px white;
  background-color: black;
  color: white;
}

.English {
  text-align: center !important;
  margin-top: 80px;
}
.English img {
  width: 700px;
}
.APART {
  text-align: center;
  margin-top: 50px;
}
.APART h1 {
  font-size: 75px;
}

.May {
  text-align: center;
  margin-top: 34px;
}
.NEW {
  color: whitesmoke;
  background-color: #bb3825;
  border: #bb3825 solid 1px;
  border-radius: 10px;
  text-align: center;
  width: 33px;
}
.Personalization h1 {
  text-align: center;
  font-weight: 900;
}
.Personalization h1:hover {
  text-decoration: underline;
  cursor: pointer;
}
.by {
  font-size: 18px;
}
.Gerry {
  color: #2455c3;
  font-weight: 700;
}
.Gerry:hover {
  cursor: pointer;
  text-decoration: underline;
}

.Comments {
  color: #2455c3;
  font-weight: 200;
}
.Comments:hover {
  text-decoration: underline;
  cursor: pointer;
}
.valued {
  width: 1100px;
  text-align: center;
}

.valued p {
  font-size: 30px;
}
.Practice {
  width: 1100px;
  text-align: center;
}
.Practice h1 {
  font-weight: 900;
}
.Practice h1:hover {
  cursor: pointer;
  text-decoration: underline;
}
.Ste {
  color: #2455c3;
}
.Ste:hover {
  text-decoration: underline;
  cursor: pointer;
}
.WebFebruary {
  font-weight: 200;
}
.development {
  width: 1100px;
  background-color: #f0f0f0;
  border: solid #f0f0f0;
  border-radius: 10px;
  padding: 10px;
}
.Sponsership {
  justify-content: space-evenly;
  background-color: #e8e8e8;
  border: solid #e8e8e8;
  height: 60px;
}
.Sponsership a {
  font-weight: 700;
  color: black;
  padding-left: 19px;
  text-decoration: none;
}
.Sponsership a:hover {
  text-decoration: none;
  color: black;
}
.Masthead a:hover {
  text-decoration: underline;
  color: black;
}
.web {
  margin: 0 5px;
  width: 30% !important;
}
.more h5:hover {
  text-decoration: underline;
  cursor: pointer;
}

.supply:hover {
  text-decoration: underline lightgray;
  cursor: pointer;
}
.Facebook a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.Copyright {
  background-color: #f0f0f0;
}
.powered {
  flex: 2;
  margin-left: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.powered p {
  padding-left: 10px;
}
.Permissions {
  flex: 2;
}
.powered a {
  display: block;
  text-decoration: none;
  color: #2455c3;
  font-weight: 700;
}
.save {
  font-weight: 700;
}

.powered:hover {
  background-color: white;
  cursor: pointer;
}
.Fonts {
  justify-content: space-around;
  background-color: #ececec;
}

.Proudly a {
  text-decoration: none;
  color: black;
  padding: 12px;
}
.Proudly a:hover {
  text-decoration: underline;
  color: black;
}
.privacy {
  font-weight: 700;
}
.Bundle {
  margin-left: 40px;
  border-radius: 100%;
  background-color: #cccccc;
}
.Fonts img:hover {
  cursor: pointer;
}
.PEOPLE {
  background-color: #eaeaea;
}
.PEOPLE h1 {
  font-size: 64px;
}

@media screen and (min-width: 600px) and (max-width: 786px) {
  .header {
    width: 100% !important;
    height: 41px;
    padding: 5px;
    align-items: center;
    font-size: 12px;
  }
  .Articles a {
    margin-left: 0px !important;
    padding: 3px;
  }
  .Language:hover input {
    width: 110px;
  }
  .APART h1 {
    font-size: 70px;
  }
  .APART {
    text-align: center;
    margin-top: 30px;
  }
  .English {
    margin-top: 40px;
  }
  .English img {
    width: 500px;
  }
  .May {
    margin-top: 25px;
  }
  .May h4 {
    font-size: 33px;
  }
  .NEW {
    font-size: 24px;
  }
  .Language {
    margin-right: 4px !important;
  }
  .Personalization h1 {
    font-size: 40px;
    text-align: center;
  }
  .Gerry {
    font-size: 24px;
  }
  .Comments {
    font-size: 24px;
  }
  .valued {
    width: 100%;
  }
  .valued p {
    font-size: 22px;
  }
  .Personalization p {
    font-size: 24px;
  }
  .Practice {
    width: 100%;
  }
  .Practice h1 {
    font-size: 40px;
  }
  .Practice p {
    font-size: 24px;
  }
  .stakeholders h2 {
    font-size: 40px;
  }
  .form {
    margin-right: 0px;
  }
  .col-md-6 {
    width: 100% !important;
    flex: 0 0 auto !important;
    /* margin-top: 10px; */
    margin-bottom: 10px;
  }
  .development {
    width: 80% !important;
    padding: 5px;
  }
  .Sponsership {
    height: 100px;
    width: 100%;
  }
  .Facebook {
    flex-wrap: wrap;
    margin-bottom: 30px !important;
  }

  .Masthead {
    flex-wrap: wrap;
  }
  .Copyright {
    width: 100%;
  }
  .powered img {
    width: 150px;
    height: 124px;
  }
  .Fonts {
    width: 100% !important;
  }
  .Proudly p {
    font-size: 14px;
    padding-left: 23px;
  }
  .privacy {
    font-size: 15px;
  }
  .Hosted img {
    width: 50px;
    height: 45px;
  }
  .PEOPLE h1 {
    font-size: 40px;
  }
}

@media screen and (min-width: 787px) and (max-width: 1024px) {
  .header {
    width: 100% !important;
    height: 41px;
    padding: 5px;
    align-items: center;
    font-size: 12px;
  }
  .Articles a {
    margin-left: 0px !important;
    padding: 3px;
  }
  .Language:hover input {
    width: 150px;
  }
  .APART h1 {
    font-size: 90px;
  }
  .APART {
    text-align: center;
    margin-top: 30px;
  }
  .English {
    margin-top: 40px;
  }
  .English img {
    width: 700px;
  }
  .May {
    margin-top: 25px;
  }
  .May h4 {
    font-size: 40px;
  }
  .NEW {
    font-size: 30px;
  }
  .Language {
    margin-right: 4px !important;
  }
  .Personalization h1 {
    font-size: 45px;
    text-align: center;
  }
  .Gerry {
    font-size: 30px;
  }
  .Comments {
    font-size: 30px;
  }
  .valued {
    width: 100%;
  }
  .valued p {
    font-size: 25px;
  }
  .Personalization p {
    font-size: 30px !important;
  }
  .Practice {
    width: 100%;
  }
  .Practice h1 {
    font-size: 45px;
  }
  .Practice p {
    font-size: 30px;
  }
  .stakeholders h2 {
    font-size: 50px;
  }
  .form {
    margin-right: 0px;
  }
  .col-md-6 {
    width: 100% !important;
    flex: 0 0 auto !important;
    /* margin-top: 10px; */
    margin-bottom: 10px;
  }
  .development {
    width: 80% !important;
    padding: 10px;
  }
  .Sponsership {
    height: 100px;
    width: 100%;
  }
  .Facebook {
    flex-wrap: wrap;
    margin-bottom: 30px !important;
  }
  .web h5 {
    font-size: 27px;
  }

  .web p {
    font-size: 20px;
  }
  .development p {
    font-size: 23px;
  }

  .Copyright {
    width: 100%;
  }
  .Copyright p {
    font-size: 19px;
  }
  .powered img {
    width: 170px;
    height: 144px;
  }
  .Fonts {
    width: 100% !important;
  }
  .Proudly p {
    font-size: 19px;
    padding-left: 23px;
  }
  .privacy {
    font-size: 15px;
  }
  .Hosted img {
    width: 50px;
    height: 45px;
  }
  .PEOPLE h1 {
    font-size: 60px;
  }
}
